<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550089858681-gm5f3ahu49ccqrd2m629hhmgt45m6ofo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550089858681-gm5f3ahu49ccqrd2m629hhmgt45m6ofo</string>
	<key>API_KEY</key>
	<string>AIzaSyAGrNtAHRMBm33SlH3Xeib2G_-Kagg7fpI</string>
	<key>GCM_SENDER_ID</key>
	<string>550089858681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covid19Tracker</string>
	<key>PROJECT_ID</key>
	<string>covid19-tracker-2f518</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19-tracker-2f518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:550089858681:ios:ca25bd962022d832167ea8</string>
	<key>DATABASE_URL</key>
	<string>https://covid19-tracker-2f518.firebaseio.com</string>
</dict>
</plist>
